{
  "sourceMaps": true,
  "presets": [
    "react-app"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./src"]
    }],
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es"
    }]
  ]
}